'.text.continuum':
  't1 t2 t3 escalation':
    'prefix': 'te'
    'body': """
      [PARTNER NOTES]
      Work completed / steps taken: ${1:n/a}

      [INTERNAL NOTES]
      Issue: ${2:n/a}
      Timeframe for work: ${3:n/a}
      Resource(s) to be worked: ${4:n/a}
      LMI credentials: ${5:n/a}
      User credentials: ${6:n/a}
      Work remaining / next steps: ${7:n/a}
      $8
    """
  'outbound email subject':
    'prefix': 'obes'
    'body': """
      Your Service Ticket ID # ${1:201515150009999}
      $2
    """
  't4 subject':
    'prefix': 't4s'
    'body': """
      ${1:«continuum ticket id»} - ${2:«psa ticket id»} - ${3:«site name»}
      $4
    """
  't4 escalation':
    'prefix': 't4'
    'body': """
      	• Site: $1
      	• Point of Contact: $2
      	• Phone Number: $3
      	• Issue: $4
      	• Tier 4 Ticket number: $5
      	• Escalation Reason: $6
        $7
    """
  't3 performance malware virus scan':
    'prefix': 't3scan'
    'body': """
      - Please perform full Anti-Virus scan
      - Please perform MalwareBytes Threat scan
      - Please perform CCleaner scan and clean up
      - Please perform HitmanPro scan
      - Please perform RogueKiller scan
      - Please perform ADWCleaner scan
      - Please perform Webroot scan
      - Please open command prompt and run "sfc /scannow"
      - Please perform Disk Cleanup
      - Please perform Disk Defragmenter scan
      - Please check hard drive SMART status with Disk Checkup
      - Please open MSConfig and disable unneeded applications

    """
  'team lead escalation stamp':
    'prefix': 'tlstamp'
    'body': """
      Reviewer: $1

      Approved? $2

      Have you verified all resources have been checked? $3

      Reason/Explanation: $4
      $5
    """
  'no contact email':
    'prefix': 'nce'
    'body': """
      Hello ${1:username},

      We received a request/notification that you are experiencing ${2:issue} with ${3:issue}. Unfortunately, we have been unable to reach you by phone. If you're still having trouble with this issue, please call us back at ${4:number} at your earliest convenience. If the issue has been resolved, no action is required, and the ticket will automatically close on the next business day.
      $5
    """
